<a href="https://colab.research.google.com/github/eisakhan04/Pandas_Course_in_Python/blob/main/Topic_03_Pandas_DataFarme_Function_with_csv_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas DataFarme  Function with csv File**

**Pandas DataFrame.append**

In [ ]:
import pandas as pd
first_data=pd.read_csv('file1.csv')
first_data

<ipython-input-3-7f8f3cf487fe>:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  first_data=pd.read_csv('file1.csv')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,C119

In [ ]:
import pandas as pd
file2 =  pd.read_csv('fff.csv')
file2

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [ ]:

import pandas as pd
data1 = pd.DataFrame({'a':[1,2,3,4,5],'b':[6,7,8,9,10]})
print(data1)
print()
data2 = pd.DataFrame({'a':[6,7,8],'b':[11,12,13]})
print(data2)
print("Append")
X= data1.append(data2 , ignore_index= True)
print(X)

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

   a   b
0  6  11
1  7  12
2  8  13
Append
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
5  6  11
6  7  12
7  8  13

<ipython-input-1-5ed2bc4c42d6>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X= data1.append(data2 , ignore_index= True)

In [ ]:
import pandas as pd
first_data=pd.read_csv('file1.csv')
first_data

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [ ]:
import pandas as pd
first_data=pd.read_csv('file2.csv')
first_data

<ipython-input-7-a994cae7f48c>:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  first_data=pd.read_csv('file2.csv')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,NaN
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",NaN,NaN,NaN,NaN,NaN,C119

In [ ]:
import pandas as pd
data1 = pd.read_csv('file1.csv')
data1
print()
data2 = pd.read_csv('fff.csv')
print(data2)
print("Append")
X= data1.append(data2 , ignore_index= True)
X

       year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
3      2011                    A  Agriculture, Forestry and Fishing
4      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
17023  2021                  all                     All Industries
17024  2021                  all                     All Industries
17025  2021                  all                     All Industries
17026  2021                  all                     All Industries
17027  2021                  all                     All Industries

        rme_size_grp                                         variable  \
0                a_0                                    Activity unit
1                a_0                           Rolling mean employees
2                a_0                          Salaries and wages paid
3                a_0  Sales, government funding, grants and subsidies
4                a_0                                     Total income
...              ...                                              ...
17023  j_Grand_Total                                     Total income
17024  j_Grand_Total                                Total expenditure
17025  j_Grand_Total                      Operating profit before tax
17026  j_Grand_Total                                     Total assets
17027  j_Grand_Total                            Fixed tangible assets

         value               unit
0        46134              COUNT
1            0              COUNT
2          279  DOLLARS(millions)
3         8187  DOLLARS(millions)
4         8866  DOLLARS(millions)
...        ...                ...
17023   757504  DOLLARS(millions)
17024   654404  DOLLARS(millions)
17025    85116  DOLLARS(millions)
17026  2512677  DOLLARS(millions)
17027   591351  DOLLARS(millions)

[17028 rows x 7 columns]
Append

<ipython-input-10-4e354fa91e11>:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('file1.csv')
<ipython-input-10-4e354fa91e11>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X= data1.append(data2 , ignore_index= True)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2021.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021.0,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021.0,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021.0,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
58739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
58740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
58741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
58742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [ ]:
import pandas as pd
import numpy as np
b= pd.read_csv('fff.csv')
df=b.head()
df
tl=b.tail()
tl

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [ ]:
import pandas as pd
import numpy as np
b= pd.read_csv('fff.csv')
print(b.shape)

(17028, 7)

In [ ]:
import pandas as pd
a = pd.DataFrame({'col1' : [2,3,4,5] , 'col2': [8,7,6,5]})
print(a)
print()
b = pd.DataFrame({'col1' : [11,12,13,14] , 'col2': [18,17,16,15]})
print(b)
print()
result = a.append(b , ignore_index=True)
print(result)

   col1  col2
0     2     8
1     3     7
2     4     6
3     5     5

   col1  col2
0    11    18
1    12    17
2    13    16
3    14    15

   col1  col2
0     2     8
1     3     7
2     4     6
3     5     5
4    11    18
5    12    17
6    13    16
7    14    15

<ipython-input-26-f8b6e27e5b38>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = a.append(b , ignore_index=True)

In [ ]:
import pandas as pd
a = pd.DataFrame({'data1' : [1,2,3,4,5] ,'data2' : [6,7,8,9,0]})
print(a)
b = pd.DataFrame({'data1 ': [11,12,13,14,15] ,'data2' : [16,17,18,19,10]})
print(b)
X= a.append(b)
print(X)

   data1  data2
0      1      6
1      2      7
2      3      8
3      4      9
4      5      0
   data1   data2
0      11     16
1      12     17
2      13     18
3      14     19
4      15     10
   data1  data2  data1
0    1.0      6     NaN
1    2.0      7     NaN
2    3.0      8     NaN
3    4.0      9     NaN
4    5.0      0     NaN
0    NaN     16    11.0
1    NaN     17    12.0
2    NaN     18    13.0
3    NaN     19    14.0
4    NaN     10    15.0

<ipython-input-13-f6d7acfd87c1>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X= a.append(b)

In [ ]:
import pandas as pd

data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print()
data2 = pd.DataFrame({'a': [6, 7, 8], 'b': [11, 12, 13]})
print("Data2:")
print(data2)
print()
print("Append:")
data_combined = data1.append(data2, ignore_index=True)
print(data_combined)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

Data2:
   a   b
0  6  11
1  7  12
2  8  13

Append:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
5  6  11
6  7  12
7  8  13

<ipython-input-14-d0e09680e24e>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_combined = data1.append(data2, ignore_index=True)

# **DataFrame.apply()**

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print("Sum:")
data2 = data1.apply(np.sum, axis = 0)
print(data2)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
Sum:
a    15
b    40
dtype: int64

In [ ]:
a='2'
b='2'
print(a+b)

22

In [ ]:
import pandas as pd
import numpy as np
info={'colm1':[12,34,45,56,87],'colm2':[36,57,69,28,39]}
a = pd.DataFrame(info)
print(a)
print("SUM")
b = a.apply(np.sum ,axis = 1)
print(b)

   colm1  colm2
0     12     36
1     34     57
2     45     69
3     56     28
4     87     39
SUM
0     48
1     91
2    114
3     84
4    126
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print("Sum:")
data2 = data1.apply(np.sum, axis = 1)
print(data2)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
Sum:
0     7
1     9
2    11
3    13
4    15
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print("Multiply:")
data2 = data1 * 2
print(data2)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
Multiply:
    a   b
0   2  12
1   4  14
2   6  16
3   8  18
4  10  20

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print("Divide:")
data2 = data1 / 2
print(data2)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
Divide:
     a    b
0  0.5  3.0
1  1.0  3.5
2  1.5  4.0
3  2.0  4.5
4  2.5  5.0

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print("Divide:")
data2 = data1 / -2
print(data2)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
Divide:
     a    b
0 -0.5 -3.0
1 -1.0 -3.5
2 -1.5 -4.0
3 -2.0 -4.5
4 -2.5 -5.0

# **DataFrame.aggregate**

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print('Aggregate')
data2 = data1.agg('sum')
print(data2)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
Aggregate
a    15
b    40
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, 10]})
print("Data1:")
print(data1)
print('Aggregate')
data2 = data1.aggregate(['mean', 'median','max','min','sum','std','var','corrcoef','ptp'])
print(data2)

Data1:
   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
Aggregate
                  a          b
mean       3.000000   8.000000
median     3.000000   8.000000
max        5.000000  10.000000
min        1.000000   6.000000
sum       15.000000  40.000000
std        1.581139   1.581139
var        2.500000   2.500000
corrcoef   1.000000   1.000000
ptp        4.000000   4.000000

In [ ]:
import pandas as pd
df = pd.read_csv('Data.csv')
df

      NAME    ID  AMOUNT  PERCENTAGE
0    IMRAN  2143    5000          95
1  MUJHAID  4255    3000          94
2      ALI  4687    5600          80
3   SANWAL  5876   34332          99
4   FAHEEM  7653    6534          70

In [ ]:
data2 = df.aggregate(['mean', 'median','max','min','sum','std','var','corrcoef'])
data2

<ipython-input-32-17d818bf6bb6>:1: FutureWarning: ['NAME'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  data2 = df.aggregate(['mean', 'median','max','min','sum','std','var','corrcoef'])

                                 NAME            ID        AMOUNT  PERCENTAGE
mean                              NaN  4.922800e+03  1.089320e+04   87.600000
median                            NaN  4.687000e+03  5.600000e+03   94.000000
max                            SANWAL  7.653000e+03  3.433200e+04   99.000000
min                               ALI  2.143000e+03  3.000000e+03   70.000000
sum       IMRANMUJHAIDALISANWALFAHEEM  2.461400e+04  5.446600e+04  438.000000
std                               NaN  2.036629e+03  1.316653e+04   12.177849
var                               NaN  4.147857e+06  1.733576e+08  148.300000
corrcoef                          NaN  1.000000e+00  1.000000e+00    1.000000

In [ ]:
import pandas as pd
df = pd.read_csv('Data.csv')
df

      NAME    ID  AMOUNT  PERCENTAGE
0    IMRAN  2143    5000          95
1  MUJHAID  4255    3000          94
2      ALI  4687    5600          80
3   SANWAL  5876   34332          99
4   FAHEEM  7653    6534          70

In [ ]:
data2 = df.apply(np.sum, axis = 0)
data2

NAME          IMRANMUJHAIDALISANWALFAHEEM
ID                                  24614
AMOUNT                              54466
PERCENTAGE                            438
dtype: object

In [ ]:
data2 = df[['AMOUNT',	'PERCENTAGE']]*2
data2

   AMOUNT  PERCENTAGE
0   10000         190
1    6000         188
2   11200         160
3   68664         198
4   13068         140

In [ ]:
import pandas as pd
df = pd.read_csv('Data.csv')
df

      NAME    ID  AMOUNT  PERCENTAGE
0    IMRAN  2143    5000          95
1  MUJHAID  4255    3000          94
2      ALI  4687    5600          80
3   SANWAL  5876   34332          99
4   FAHEEM  7653    6534          70

In [ ]:
data2 = pd.DataFrame({'Country':['Dubai','Dubai','Jampur'],'Age':[11,12,13],'Salary':[2300,2400,2500]})
print("Append")
data_combined = df.append(data2, ignore_index=True)
data_combined

Append

<ipython-input-41-d8ba9da2af80>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_combined = df.append(data2, ignore_index=True)

      NAME      ID   AMOUNT  PERCENTAGE Country   Age  Salary
0    IMRAN  2143.0   5000.0        95.0     NaN   NaN     NaN
1  MUJHAID  4255.0   3000.0        94.0     NaN   NaN     NaN
2      ALI  4687.0   5600.0        80.0     NaN   NaN     NaN
3   SANWAL  5876.0  34332.0        99.0     NaN   NaN     NaN
4   FAHEEM  7653.0   6534.0        70.0     NaN   NaN     NaN
5      NaN     NaN      NaN         NaN   Dubai  11.0  2300.0
6      NaN     NaN      NaN         NaN   Dubai  12.0  2400.0
7      NaN     NaN      NaN         NaN  Jampur  13.0  2500.0

# **Assign function**

In [ ]:
import pandas as pd
data = pd.DataFrame({'data1' :[1,2,3,4,5],'data2' :[6,7,8,9,0]})
print(data)
print()
data3 = data.assign(data3 = [3,4,5,6,9])
print(data3)

   data1  data2
0      1      6
1      2      7
2      3      8
3      4      9
4      5      0

   data1  data2  data3
0      1      6      3
1      2      7      4
2      3      8      5
3      4      9      6
4      5      0      9

In [ ]:
import pandas as pd
data = pd.DataFrame({'data1' :[1,2,3,4,5],'data2' :[6,7,8,9,0]})
print(data)
print()
data['data3'] = [3,4,5,6,9]
print(data)

   data1  data2
0      1      6
1      2      7
2      3      8
3      4      9
4      5      0

   data1  data2  data3
0      1      6      3
1      2      7      4
2      3      8      5
3      4      9      6
4      5      0      9

In [ ]:
import pandas as pd
a = pd.DataFrame({'data1' : [1,2,3,4] , 'data2' : [5,6,7,8]})
print(a)
print()
b = a.assign(data3 = [6,7,8,9])
print(b)

   data1  data2
0      1      5
1      2      6
2      3      7
3      4      8

   data1  data2  data3
0      1      5      6
1      2      6      7
2      3      7      8
3      4      8      9

In [ ]:
import pandas as pd
df = pd.DataFrame({'data1' :[1,2,3,4,5],'data2' :[6,7,8,9,0]})
print(df)
print()
data3 = df.assign(data3 = df['data1']+ df['data2' ])
print(data3)

   data1  data2
0      1      6
1      2      7
2      3      8
3      4      9
4      5      0

   data1  data2  data3
0      1      6      7
1      2      7      9
2      3      8     11
3      4      9     13
4      5      0      5

In [ ]:
import pandas as pd
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
data3 = df.assign(Percentage = [3,4,5,6,9,10,11,12,13,14])
data3

ValueError: ignored

In [ ]:
data3 = df.assign(Percentage = df['Age']+ df['Salary'])
data3

   Country   Age   Salary Purchased  Percentage
0   France  44.0  72000.0        No     72044.0
1    Spain  27.0  48000.0       Yes     48027.0
2  Germany  30.0  54000.0        No     54030.0
3    Spain  38.0  61000.0        No     61038.0
4  Germany  40.0      NaN       Yes         NaN
5   France  35.0  58000.0       Yes     58035.0
6    Spain   NaN  52000.0        No         NaN
7   France  48.0  79000.0       Yes     79048.0
8  Germany  50.0  83000.0        No     83050.0
9   France  37.0  67000.0       Yes     67037.0

**Astype() Function**

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1.2,2.3,4.5],'B':[8.4,9.4,3.2]})
print(df)
gf = df.astype(int)
print(gf)

     A    B
0  1.2  8.4
1  2.3  9.4
2  4.5  3.2
   A  B
0  1  8
1  2  9
2  4  3

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1.2,2.3,4.5],'B':[8.4,9.4,3.2]})
print(df)
gf = df.astype(complex)
print(gf)

     A    B
0  1.2  8.4
1  2.3  9.4
2  4.5  3.2
          A         B
0  1.2+0.0j  8.4+0.0j
1  2.3+0.0j  9.4+0.0j
2  4.5+0.0j  3.2+0.0j

**Count() Function**

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1.2,2.3,4.5],'B':[8.4,9.4,3.2]})
print(df)
print()
gf = df.count()
print(gf)

     A    B
0  1.2  8.4
1  2.3  9.4
2  4.5  3.2

A    3
B    3
dtype: int64

In [ ]:
import pandas as pd
df = pd.read_csv('Data.csv')
df

      NAME    ID  AMOUNT  PERCENTAGE
0    IMRAN  2143    5000          95
1  MUJHAID  4255    3000          94
2      ALI  4687    5600          80
3   SANWAL  5876   34332          99
4   FAHEEM  7653    6534          70

In [ ]:
data = df.count()
data

Country      10
Age           9
Salary        9
Purchased    10
dtype: int64

In [ ]:
data = df.count(axis=1)
data

0    4
1    4
2    4
3    4
4    4
dtype: int64

**Describe() Function**

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1.2,2.3,4.5],'B':[8.4,9.4,3.2]})
print(df)
print()
gf = df.describe()
print(gf)

     A    B
0  1.2  8.4
1  2.3  9.4
2  4.5  3.2

              A         B
count  3.000000  3.000000
mean   2.666667  7.000000
std    1.680278  3.328663
min    1.200000  3.200000
25%    1.750000  5.800000
50%    2.300000  8.400000
75%    3.400000  8.900000
max    4.500000  9.400000

In [ ]:
import pandas as pd
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
gf = df.describe()
gf

             Age        Salary
count   8.000000      8.000000
mean   20.821775  30713.130414
std    14.023071  27177.639092
min     7.693793      8.000000
25%    11.196357  12171.821086
50%    17.969467  31654.341252
75%    24.769528  38356.981680
max    50.000000  83000.000000

**Drop_Duplicates() Function**

In [ ]:
import pandas as pd
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
df4=df.drop_duplicates()
df4

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1.2,2.3,1.2],'B':[1.2,9.4,1.2]})
print(df)
print()
gf = df.drop_duplicates()
print(gf)

     A    B
0  1.2  1.2
1  2.3  9.4
2  1.2  1.2

     A    B
0  1.2  1.2
1  2.3  9.4

**Cut Function()**

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1.2,2.3,1.2],'B':[1.2,9.4,1.2]})

gf = df.drop_duplicates()
print(gf)

     A    B
0  1.2  1.2
1  2.3  9.4

In [ ]:
import pandas as pd
df = pd.read_csv('Book1.csv')
df

     Country   Age   Salary Purchased
0     France  44.0  72000.0        No
1      Spain  27.0  48000.0       Yes
2    Germany  30.0  54000.0        No
3      Spain  38.0  61000.0        No
4    Germany  40.0      NaN       Yes
5     France  35.0  58000.0       Yes
6      Spain   NaN  52000.0        No
7     France  48.0  79000.0       Yes
8    Germany  50.0  83000.0        No
9   Pakistan   NaN      NaN       Yes
10     Dubai  46.0  50000.0       yes